extends base.pug

append head
  title React App
  +css('../assets/app.css')
  +css('../assets/jquery-ui.structure.min.css')
  +js('../assets/jquery-ui.custom.js')
  +js('../assets/ace.js')
  +js('../assets/mode-javascript.js')
  +js('../assets/theme-twilight.js')
  +js('../assets/diff.js')
block body
  #app
  +js('../assets/bundle.js')
