extends base.pug

append head
  title Index Page
  +js('//unpkg.com/unfetch/dist/unfetch.umd.js')
append content
  h1 Index Page
  a(href='/signin').btn.btn-default Sign in
  a(href='/signup').btn.btn-default Sign up
  a(href='/new')#create-anon Create new file
