// src/scss/_workspace.scss

@mixin folderWidget($url) {
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  height: 10px;
  width: 10px;
  image-rendering: pixelated;
  z-index: 13;
  position: absolute;
  left: 0;
  top: 4px;
}

.flex-and-relative {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;

  &-main {
    @extend .flex-and-relative;
  }

  &-topbar {
    background: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    padding: 5px;
    z-index: 13;
  }

  #workspace {
    @extend .flex-and-relative;
    flex-direction: column;

    &-bottombar {
      background: white;
      box-shadow: 0px -1px 5px rgba(0,0,0,0.4);
      padding: 5px;
      z-index: 13;
    }

    &-editor {
      @extend .flex-and-relative;

      .CodeMirror {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    &-main {
      @extend .flex-and-relative;

      &-centre {
        @extend .flex-and-relative;
        flex-direction: column;
        overflow: hidden;
      }
    }

    &-tabbar {
      background: white;
      box-shadow: 1px 0px 5px rgba(0,0,0,0.4);
      font-size: 14px;
      margin: 0px;
      padding: 10px 5px 0;
      z-index: 11;

      &-ul {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;

        .tab {
          border: 1px solid #bbb;
          border-bottom: 0;
          border-radius: 5px 5px 0 0;
          display: flex;
          flex: 1 0 0px;
          list-style: none;
          margin-left: -1px;
          max-width: 200px;
          min-width: 90px;
          padding: 5px 25px;
          position: relative;
          text-align: center;

          &-close {
            border-radius: 100px;
            cursor: pointer;
            line-height: 0.9;
            padding: 0px 3px 2px;
            position: absolute;
            right: 3px;
            top: 8px;
            border: none;
            background: none;
            outline: none;
          }

          &-text {
            cursor: default;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        .tab-active {
          background: white;
          margin: -3px -1px 0px;
          z-index: 12;
        }
      }
    }

    &-treeview {
      cursor: default;
      height: initial;
      padding: 5px;
      position: relative;
      z-index: 12;
      background: white;
      box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.4);
      min-width: 150px;

      .tree {

        &-file-name:after, &-folder-name:after {
          width: 0;
          top: -6px;
          left: 5px;
          height: 15px;
          position: absolute;
          border-left: 1px dotted gray;
          content: '';
          display: block;
        }

        &-file-name:before, &-folder-name:before {
          position: absolute;
          background: none !important;
          border-bottom: 1px dotted gray;
          width: 7px;
          height: 0;
          top: 10px;
          left: 5px;
          content: '';
        }

        &:nth-of-type(2) {
          margin-top: 15px;
        }

        &-title {

          &-divider {
            margin: 2px 0px 10px;
          }
        }

        &-file {
          padding-left: 13px;
          position: relative;
        }

        &-folder {
          padding-left: 13px;
          position: relative;

          &-inner {
            &.open:before {
              @include folderWidget('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAACVBMVEX///+/v78AAABCS8n0AAAAFElEQVQI12MIDXVgQIZeK1D4IHkAbMQGB9awVs4AAAAASUVORK5CYII=');
            }

            &.closed:before {
              @include folderWidget('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAACVBMVEX///+/v78AAABCS8n0AAAAGElEQVQI12MIDXVgAMMGCPZagWADIUgeAJDECAeFz1XEAAAAAElFTkSuQmCC');
            }
          }

          &-holds {
            list-style: none;
            margin: 0;
            padding-left: 0;
          }
        }
      }

      .resize-handle {
        z-index: 100;
        position: absolute;
        background: white;
        cursor: col-resize;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 8px;
      }
    }
  }
}
