// src/scss/_workspace.scss

.flex-and-relative {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;

  &-main {
    @extend .flex-and-relative;
  }

  &-topbar {
    background: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
    padding: 5px;
    z-index: 13;
  }

  #workspace {
    @extend .flex-and-relative;
    flex-direction: column;

    &-bottombar {
      background: white;
      box-shadow: 0px -1px 5px rgba(0,0,0,0.4);
      padding: 5px;
      z-index: 13;
    }

    &-editor {
      @extend .flex-and-relative;

      .CodeMirror {
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    &-main {
      @extend .flex-and-relative;

      &-centre {
        @extend .flex-and-relative;
        flex-direction: column;
        overflow: hidden;
      }
    }

    &-tabbar {
      background: white;
      box-shadow: 1px 0px 5px rgba(0,0,0,0.4);
      font-size: 14px;
      margin: 0px;
      padding: 10px 5px 0;
      z-index: 11;

      &-ul {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;

        .tab {
          border: 1px solid #bbb;
          border-bottom: 0;
          border-radius: 5px 5px 0 0;
          display: flex;
          flex: 1 0 0px;
          list-style: none;
          margin-left: -1px;
          max-width: 200px;
          min-width: 90px;
          padding: 5px 25px;
          position: relative;
          text-align: center;

          &-close {
            border-radius: 100px;
            cursor: pointer;
            line-height: 0.9;
            padding: 0px 3px 2px;
            position: absolute;
            right: 3px;
            top: 8px;
            border: none;
            background: none;
            outline: none;
          }

          &-text {
            cursor: default;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }

        .tab-active {
          background: white;
          margin: -3px -1px 0px;
          z-index: 12;
        }
      }
    }

    &-treeview {
      height: initial;
      padding: 5px;
      position: relative;
      width: 250px;
      z-index: 12;
      background: white;
      box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.4);

      .ui-resizable-handle.ui-resizable-e {
        background: white;
        cursor: col-resize;
        right: 0px;
      }
    }
  }
}
